<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <!-- <a class="page-link" href="{{ site.baseurl }}/job_offer/">Job Offer</a> -->
        <a class="page-link" href="{{ site.baseurl }}/chat/">Chat</a>
        <a class="page-link" href="{{ site.baseurl }}/vagrant/">Vagrant scripts and Oracle</a>
        <a class="page-link" href="{{ site.baseurl }}/docker/">Docker containers and Oracle</a>
        <a class="page-link" href="{{ site.baseurl }}/kubernetes/">Docker Containers, Oracle and Kubernetes</a>
        <a class="page-link" href="{{ site.baseurl }}/oracle-dba-scripts/">Oracle DBA Scripts</a>
        <!-- <a class="page-link" href="{{ site.baseurl }}/oracle-dba-profiles/">Oracle DBA Profiles (for HR)</a> -->
        <a class="page-link" href="{{ site.baseurl }}/sitemap/">Site Map</a>
      </div>
    </nav>
  </div>
</header>